{
  "extends": ["react-app", "standard"],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "setup": true,
    "random": true,
    "either": true,
    "dice": true,
    "State": true,
    "randomFloat": true,
    "clone": true,
    "Util": true,
    "settings": true,
    "tippy": true,
    "$": true
  },
  "rules": {
    "no-var": "warn",
    "prefer-const": "warn",
    "object-shorthand": ["warn", "always"],
    "quote-props": ["warn", "consistent-as-needed"],

    "default-case": "off",
    "no-useless-concat": "off"
  }
}
