#app {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  justify-content: center;
  flex-basis: 17.5em;
  padding: 1.5em;
  background: #eee;
  border-right: 1px solid #bbb;
  text-align: center;
  overflow: auto;
}

.sidebar .title {
  display: flex;
  flex-direction: column;
}

.sidebar .title h1 {
  margin: 0;
  font-size: 1.65em;
}

.sidebar .author > * {
  display: block;
  margin: 1em 0;
}

.content {
  flex: 1;
  padding: 1.5em;
  overflow: auto;
  background: url("../EssentialEstablishmentGenerator/Resources/backgroundpaper.webp");
}

.note {
  font-family: "Scaly Sans", sans-serif;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 5px 10px;
  background: #e0e5c1;
  border-style: solid;
  border-width: 11px;
  border-image: url("../EssentialEstablishmentGenerator/Resources/note-wrap.png") 11;
  border-image-outset: 9px 0;
  box-shadow: 1px 4px 14px #888;
}

.error {
  background: #eaa;
  display: inline-block;
  margin: 0.1em;
  padding: 0.5em;
}

.error > :first-child {
  font-weight: bold;
}

.error > :first-child::after {
  content: "";
  margin: 0 0.25em;
}